## 2.2.1. Reading the Dataset

In [5]:
import os
data_file = 'house_tiny.csv'
f = open(data_file, 'w')
f.write('NumRooms,Alley,Price\n') # Column names
f.write('NA,Pave,127500\n') # Each row is a data point
f.write('2,NA,106000\n')
f.write('4,NA,178100\n')
f.write('NA,NA,140000\n')

13

csv 파일을 생성해 봅니다. NA는 보통 값이 없는 경우를 나타냅니다.

In [6]:
!ls

house_tiny.csv	sample_data

!를 붙이고 명령어를 쓰면 시스템의 명령어를 실행합니다. ls는 linux system에서 디렉토리 내의 파일들을 보는 명령어로 파일이 현재 작업폴더에 생성된 것을 확인할 수 있습니다.

In [7]:
import pandas as pd
data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

pandas 라이브러리를 이용해서 csv파일을 불러오면 보기 좋은 형태로 출력을 합니다.

## 2.2.2. Handling Missing Data

In [8]:
inputs, outputs = data.iloc[:,0:2], data.iloc[:,2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

NumRooms의 경우 NaN으로 표시된 값들이 나머지들의 평균으로 채워졌습니다. Alley는 항목이 문자열이라 평균을 구할 수 없습니다.

In [9]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

Alley에 대해 Pave를 가지는 것 그리고 nan을 가지는 것을 나누어 정리해 줍니다.

## 2.2.3. Conversion to the PyTorch Tensor Format

In [10]:
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

PyTorch의 input 또는 output으로 사용하기 위해서는 data를 tensor로 바꾸어 주어야 합니다.